body {
  background-color: #272829;
  color: white;
}

.navbar {
  min-height: 60px;
  font-size: 16px;
}

.search-box {
  width: 400px!important;
}

.section {
  margin: 50px 0;
}

.product-card  {
  padding: 2px;
  text-decoration: none;
  color: black;
}

.product-view {
  padding: 10px;
  background-color: #ebe9e1
}

.product-card:hover {
  text-decoration: none;
  color: black;
  box-shadow: 3px 3px 5px 5px rgb(22, 21, 21);
  cursor: pointer;
}

.price-tag {
  padding-right: 3px;
  font-size: 22px;
  color: #a68608;
  font-weight: 700;
}

.cardbody {
  padding: 3px;
}

.cart-item:hover {
  border: 0.5px solid #c5c4bb;
  background-color: #6c7074;
  border-radius: 10px;
}

.article-info {
  background-color: #d5e0d8;
}